<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div id='mainHdr'>
    <div class='menu'>
      <span id='homeBtn'><a href='/' class='active'>Home</a></span>
      <span id='dashBtn'><a href='/dashboard'>Dashboard</a></span>
      <span id='loginBtn'><a href='/login'>Login</a></span>
      <span id='logoutBtn'><a href='/logout'>Logout</a></span>
    </div>
    <div id='headerMsg'>
    </div>
  </div>

  <div id ='body-container'>
    {{{body}}}
  </div>
</body>

</html>