<div>
    <label for="email">Email address</label>
    <input type="email" id="email" placeholder="Enter email">
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="Enter Password">
</div>
<div>
    <label for="username">Username</label>
    <input type="text" id="username" placeholder="Enter Username">
</div>
<div>
    <button type="button" id="signUpBtn">Submit</button>
</div>

<script src="/js/signup.js"></script>