<div id='mainHdr'>
    <div class='menu'>
        <span id='homeBtn'><a href='/' class='active'>Home</a></span>
        <span id='dashBtn'><a href='/dashboard'>Dashboard</a></span>
        {{#if logged_in}}
        <span id='logoutBtn'><a href=''>Logout</a></span>
        {{else}}
        <span id='loginBtn'><a href='/login'>Login</a></span>
        {{/if}}
    </div>
    <div id='headerMsg'>
    </div>
</div>
<h2>Please sign up</h2>
<!-- sign up page -->
<form id='signup-form'>
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter username">
    </div>
    <div>
        <label for="email">Email address</label>
        <input type="email" id="email" placeholder="Enter email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password">
    </div>
    <div>
        <button type="submit" id="newUserBtn">Submit</button>
    </div>
</form>

<script src="/js/signup.js"></script>